body{
	text-align: center;
	background: url("images/berlyntong91.github.io/unit_3/images/scissors_dark.JPG");
	background-size:cover;
	color:#ffffff;
	font-size: 20px;
	font-family: Helvetica;
}
h1{
	color: #FFC04A;
}
p{
	font-size: 20px;
}
ul{
	font-size:20px;
}
#slogan{
	font-style: italic;
}