body{
	text-align: center;
	background: url("images/scissors_dark.jpg");
	background-size:cover;
	color:#ffffff;
	font-size: 20px;
	font-family: Helvetica;
}
h1{
	color: #FFC04A;
}
p{
	font-size: 20px;
}
ul{
	font-size:20px;
}
#slogan{
	font-style: italic;
}